In [2]:
import sqlite3 as lite

# Here you connect to the database. The `connect()` method returns a connection object.
con = lite.connect('getting_started.db')

with con:
  # From the connection, you get a cursor object. The cursor is what goes over the records that result from a query.
  cur = con.cursor()    
  cur.execute('SELECT SQLITE_VERSION()')
  # You're fetching the data from the cursor object. Because you're only fetching one record, you'll use the `fetchone()` method. If fetching more than one record, use the `fetchall()` method.
  data = cur.fetchone()
  # Finally, print the result.
  print "SQLite version: %s" % data

SQLite version: 3.6.21

In [4]:
import sqlite3 as lite

con = lite.connect('getting_started.db')

with con:    

    cur = con.cursor()    
    cur.execute("SELECT * FROM cities")

    rows = cur.fetchall()

    for row in rows:
        print row

(u'New York City', u'NY')
(u'Boston', u'MA')
(u'Chicago', u'IL')
(u'Miami', u'FL')
(u'Dallas', u'TX')
(u'Seattle', u'WA')
(u'Portland', u'OR')
(u'San Francisco', u'CA')
(u'Los Angeles', u'CA')

In [6]:
import sqlite3 as lite
import pandas as pd

con = lite.connect('getting_started.db')

# Select all rows and print the result set one row at a time
with con:

  cur = con.cursor()
  cur.execute("SELECT * FROM cities")

  rows = cur.fetchall()
  df = pd.DataFrame(rows)

In [7]:
con = lite.connect('getting_started.db')

# Select all rows and print the result set one row at a time
with con:

  cur = con.cursor()
  cur.execute("SELECT * FROM cities")


  rows = cur.fetchall()
  cols = [desc[0] for desc in cur.description]
  df = pd.DataFrame(rows, columns=cols)

In [26]:
import sqlite3 as lite
import pandas as pd

con = lite.connect('getting_started.db')

# Select all rows and print the result set one row at a time
with con:

  cur = con.cursor()
  cur.execute("SELECT * FROM cities")


  rows = cur.fetchall()
  cols = [desc[0] for desc in cur.description]
  df = pd.DataFrame(rows, columns=cols)

In [16]:
print df
df.describe()

            name state
0  New York City    NY
1         Boston    MA
2        Chicago    IL
3          Miami    FL
4         Dallas    TX
5        Seattle    WA
6       Portland    OR
7  San Francisco    CA
8    Los Angeles    CA

          name state
count        9     9
unique       9     8
top     Boston    CA
freq         1     2

In [10]:
v_sqlite.py

NameError: name 'v_sqlite' is not defined

In [15]:
import v_sqlite
pt = v_sqlite
print pt

<module 'v_sqlite' from 'v_sqlite.py'>

In [3]:
# Write a script called "database.py" to print out the cities with the July being the warmest month. Your script must:

# Connect to the database
import sqlite3 as lite
import pandas as pd


con = lite.connect('getting_started.db');

# to discuss with mentor
# Create the cities and weather tables (HINT: first pass the statement DROP TABLE IF EXISTS <table_name>; to remove the table before you execute the CREATE TABLE ... statement)
#
#
#DROP TABLE IF EXISTS weather;
#

#Insert data into the two tables

with con:

    cur = con.cursor()
    
    cur.execute("DROP TABLE IF EXISTS cities;")
    cur.execute("CREATE TABLE cities (name text, state text);")
    cur.execute("INSERT INTO cities VALUES('New York City', 'NY')")
    cur.execute("INSERT INTO cities VALUES('Boston', 'MA')")
    cur.execute("INSERT INTO cities VALUES('Chicago', 'IL')")
    cur.execute("INSERT INTO cities VALUES('Miami', 'FL')")
    cur.execute("INSERT INTO cities VALUES('Dallas', 'TX')")
    cur.execute("INSERT INTO cities VALUES('Seattle', 'WA')")
    cur.execute("INSERT INTO cities VALUES('Portland', 'OR')")
    cur.execute("INSERT INTO cities VALUES('San Francisco', 'CA')")
    cur.execute("INSERT INTO cities VALUES('Los Angeles', 'CA')")
    
    cur.execute("DROP TABLE IF EXISTS weather;")
    cur.execute("CREATE TABLE weather (city text, year integer,warm_month text,cold_month text,average_high integer);")
    cur.execute("INSERT INTO weather VALUES('New York City', 2013, 'July', 'January',62)")
    cur.execute("INSERT INTO weather VALUES('Boston', 2013, 'July', 'January',59)")
    cur.execute("INSERT INTO weather VALUES('Chicago', 2013, 'July', 'January',59)")
    cur.execute("INSERT INTO weather VALUES('Miami', 2013, 'August', 'January',84)")
    cur.execute("INSERT INTO weather VALUES('Dallas', 2013, 'July', 'January',77)")
    cur.execute("INSERT INTO weather VALUES('Seattle', 2013, 'July', 'January',61)")
    cur.execute("INSERT INTO weather VALUES('Portland', 2013, 'July', 'December',62)")
    cur.execute("INSERT INTO weather VALUES('San Francisco', 2013, 'September', 'December',64)")
    cur.execute("INSERT INTO weather VALUES('Los Angeles', 2013, 'September', 'December',62)")


#Join the data together
#Load into a pandas DataFrame
query = """SELECT name, warm_month  FROM cities INNER JOIN weather ON name = city WHERE warm_month = 'July';"""
with con:

  cur = con.cursor()
  cur.execute(query)

  rows = cur.fetchall()
  cols = [desc[0] for desc in cur.description]
  df = pd.DataFrame(rows, columns=cols)


#Print out the resulting city and state in a full sentence. For example: "The cities that are warmest in July are: Las Vegas, NV, Atlanta, GA..."

CITY = df['name'];
print "The cities that are warmest in July are:\n %s"% CITY
#Push your code to Github and enter the link below

The cities that are warmest in July are:
 0    New York City
1           Boston
2          Chicago
3           Dallas
4          Seattle
5         Portland
Name: name, dtype: object