In [1]:
import pandas as pd
import pyodbc
import matplotlib.pyplot as plt
%matplotlib inline

# Parameters
server = 'masdcalmd004.ssdc.kp.org'
db = 'AE_DEV'

# Create the connection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + db + ';Trusted_Connection=yes')

# query db
sql = """

dbo.AE_Report_ProgramDashboard_SolutionsRollout

"""
df = pd.read_sql(sql, conn)
#print df.head()
#df['Tech Name'].value_counts()
# Create group object
df.to_csv('tech.csv')
df.head()

#json = df.to_json('tech.json')
#print json 

#one = df.groupby(['Tech Name','AppCount'])

# Apply sum function
#one.sum()


#df.groupby(['AppCount','Tech Name']).sum()
#df
#df['Tech Name']

#df.hist(column='SOX_Count' )


#df.hist(column='Tech Name')

,Tech Name,AppCount,Stage,Status,End Date,Start Date,Year,TotalAppCaption,SolutionRolloutCaption,SOX_Count,HIPAAFlag,DUAL
0,CAPS,4,Development,In Progress,None,2015-03-01,2015-03-01,123,Total Number of Sox Application is 123. Bar g...,0,True,
1,CAPS,1,Development,In Progress,None,2015-05-21,2015-05-21,123,Total Number of Sox Application is 123. Bar g...,1,None,
2,CAPS,1,Testing/UAT,In Progress,None,2015-03-01,2015-03-01,123,Total Number of Sox Application is 123. Bar g...,0,True,
3,CAPS,1,Testing/UAT,In Progress,None,2015-06-04,2015-06-04,123,Total Number of Sox Application is 123. Bar g...,1,None,
4,CARMA,1,Development,In Progress,None,2015-03-01,2015-03-01,123,Total Number of Sox Application is 123. Bar g...,0,True,