In [5]:
import pandas as pd
import pyodbc
import matplotlib.pyplot as plt
%matplotlib inline

# Parameters
server = 'masdcalmd004.ssdc.kp.org'
db = 'AE_DEV'

# Create the connection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + db + ';Trusted_Connection=yes')

# query db
sql = """

dbo.AE_Report_ProgramDashboard_SolutionsRollout

"""
df = pd.read_sql(sql, conn)
#print df.head()
#df['Tech Name'].value_counts()
# Create group object
print df.head()
tech = df.
#json = df.to_json('tech.json')
#print json 

#one = df.groupby(['Tech Name','AppCount'])

# Apply sum function
#one.sum()


#df.groupby(['AppCount','Tech Name']).sum()
#df
#df['Tech Name']

#df.hist(column='SOX_Count' )


#df.hist(column='Tech Name')

  Tech Name  AppCount        Stage       Status End Date  Start Date  \
0      CAPS         4  Development  In Progress     None  2015-03-01
1      CAPS         1  Development  In Progress     None  2015-05-21
2      CAPS         1  Testing/UAT  In Progress     None  2015-03-01
3      CAPS         1  Testing/UAT  In Progress     None  2015-06-04
4     CARMA         1  Development  In Progress     None  2015-03-01

         Year  TotalAppCaption  \
0  2015-03-01              123
1  2015-05-21              123
2  2015-03-01              123
3  2015-06-04              123
4  2015-03-01              123

                              SolutionRolloutCaption  SOX_Count HIPAAFlag DUAL
0  Total Number of Sox Application is 123.  Bar g...          0      True
1  Total Number of Sox Application is 123.  Bar g...          1      None
2  Total Number of Sox Application is 123.  Bar g...          0      True
3  Total Number of Sox Application is 123.  Bar g...          1      None
4  Total Number of Sox Application is 123.  Bar g...          0      True